* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.home {
    width: 100%;
}


/* Top Banner */
.home .top_banner {
    max-width: 100%;
    height: 390px;
    background: url('../../../public/images/top_banner.webp') no-repeat;
    background-size: cover;
}

.home .top_banner .content {
    width: 100%;
    position: relative;
    top: 20%;
    padding: 10px 50px;
}

.content h3 {
    text-transform: capitalize;
    color: #cd1e76;
    font-weight: 300;
    letter-spacing: 1px;
}

.content h2 {
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    font-size: 40px;
    margin-top: 10px;
}

.content p {
    color: #232323;
    letter-spacing: 1px;
    margin-top: 10px;
}

.content .banner-link {
    margin-top: 30px;
    padding: 10px 30px;
    background: #fed700;
    color: #232323;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.content .banner-link:hover {
    color: #fed700;
    background: #cd1e76;
}


/* Banner Bottom Elements */
.trending {
    width: 100%;
    padding: 20px 30px;
}

.trending .container {
    max-width: 100%;
    display: flex;
}

.trending .container .leftb {
    padding: 10px 20px;
    width: 75%;
}


/* Left Side */
.leftb .header {
    display: flex;
    max-width: 100%;
    padding: 10px 20px;
    background: #f6f7f8;
    justify-content: space-between;
    align-items: center;
}

.leftb .header .heading h2 {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    color: #232323;
    margin-top: 10px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.leftb .header .heading h2:hover {
    color: #cd1e76;
}

.leftb .header .cate {
    display: flex;
    margin-top: 5px;
}

.leftb .header .cate h3 {
    cursor: pointer;
    text-transform: capitalize;
    margin-right: 10px;
    color: #232323;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}

.leftb .header .cate h3::after {
    content: "|";
    margin-left: 12px;
}

.leftb .header .cate h3:hover::after {
    color: #232323;
}

.leftb .header .cate h3:last-child::after {
    content: "";
}

.leftb .header .cate h3:hover {
    color: #cd1e76;
}

.leftb .products {
    max-width: 100%;
}

.leftb .products button {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 43%;
    padding: 10px 30px;
    background: none;
    outline: none;
    border: none;
    color: #232323;
    font-weight: 600;
    background: #cd1e76;
    color: #fff;
}

.leftb .products .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.leftb .products .container .box {
    width: 200px;
    height: 330px;
    /* padding: 10px 10px; */
    border: 5px solid #f6f7f8;
    margin-top: 20px;
    margin-left: 10px;
    overflow: hidden;
    border-radius: 5px;
}

.leftb .products .container .box .img-box {
    display: flex;

}

.leftb .products .container .box .img-box img {
    width: 190px;
    height: 190px;
    object-fit: cover;
}

.leftb .products .container .box .img-box .icon {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

.leftb .products .container .box:hover .img-box .icon {
    margin-left: -20%;
}

.leftb .products .container .box .img-box .icon .icon-box {
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    z-index: 1;
    background: #fff;
    color: #cd1e76;
    transition: 0.3s ease-in-out;
}

.leftb .products .container .box .img-box .icon .icon-box:hover {
    color: #fff;
    background: #cd1e76;
}

.leftb .products .container .box .info {
    padding: 10px;
    margin-left: 10px;
}

.leftb .products .container .box .info > h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #232323;
    font-weight: 300;
    letter-spacing: 1px;
}

.leftb .products .container .box .info > h3 + p {
    color: #cd1e76;
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 1px;

}

.leftb .products .container .box .info .btn {
    cursor: pointer;
    align-items: center;
    padding: 5px 20px;
    margin-top: 0px;
    margin-left: 7px;
    border: none;
    background: #fed700;
    border-radius: 5px;
    outline: none;
    color: #232323;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
}

.leftb .products .container .box .info .btn:hover {
    background: #cd1e76;
    color: #fff;
} 


/* Right Side */
.rb {
    padding: 10px 20px;
    width: 24%;
}

.rb .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.rb .container .testimonial {
    width: 100%;
    border: 5px solid #f6f7f8;
}

.rb .container .testimonial .head {
    padding: 10px;
    width: 100%;
    background: #f6f7f8;
}

.rb .container .testimonial .head h3 {
    text-align: center;
    color: #232323;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1px;
}

.rb .container .testimonial .detail {
    padding: 10px 20px;
}

.rb .container .testimonial .detail .img-box img {
    width: 200px;
    height: 190px;
    margin-top: 40px;
    margin-left: 35px;
}

.rb .container .testimonial .detail .info {
    margin-top: 10px;
}

.rb .container .testimonial .detail .info h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #232323;
}

.rb .container .testimonial .detail .info h4 {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 300;
    color: #cd1e76;
    text-transform: uppercase;
}

.rb .container .testimonial .detail .info p {
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    color: #232323;
    font-size: 14px;
    margin-bottom: 20px;
}

.rb .container .newsletter {
    width: 100%;
    background: #f6f7f8;
    margin-top: 20px;
    padding: 10px;
}

.rb .container .newsletter .head {
    margin-top: 10px;
    width: 100%;
}

.rb .container .newsletter .head h3 {
    text-align: center;
    color: #232323;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

.rb .container .newsletter .newsletter_form {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rb .container .newsletter .newsletter_form p {
    text-align: center;
    text-transform: capitalize;
    color: #8a8a8a;
}

.rb .container .newsletter .newsletter_form input {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    outline: none;
    background: none;
    border: none;
    border: 1px solid #8a8a8a;
    color: #232323;
}

.rb .container .newsletter .newsletter_form button {
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 30px;
    outline: none;
    border: none;
    background: none;
    background: #fed700;
    color: #232323;
    transition: 0.3s ease-in-out;
}

.rb .container .newsletter .newsletter_form button:hover {
    color: #fed700;
    background: #232323;
}

.rb .container .newsletter .newsletter_form .icon-box {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rb .container .newsletter .newsletter_form .icon-box .icon {
    cursor: pointer;
    color: #000;
    font-size: 35px;
    height: 50px;
    margin-top: -10px;
    transition: 0.3s ease-in-out;
}

.rb .container .newsletter .newsletter_form .icon-box .instagram:hover {
    color: #e1306c;
}

.rb .container .newsletter .newsletter_form .icon-box .facebook:hover {
    color: #3b5998;
}

.rb .container .newsletter .newsletter_form .icon-box .telegram:hover {
    color: #0088cc;
}

.rb .container .newsletter .newsletter_form .icon-box .youtube:hover {
    color: #f00;
}

/* Bottom Banner */
.home .banner {
    padding: 20px 30px;
    width: 100%;
}

.banners .container {
    max-width: 100%;
    display: flex;
}


/* Left Side */
.banners .container .leftb {
    width: 24%;
    margin-left: 40px;
}

.banners .container .leftb .box {
    margin-top: 10px;
}

/* Right Side */
.banners .container .rb {
    width: 75%;
    margin-left: -80px;
}

.banners .container .rb .top {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.banners .container .rb .top img:first-child {
    width: 800px;
}

.banners .container .rb .bottom {
    max-width: 100%;
    margin-top: 10px;
}

.banners .container .rb .bottom img {
    width: 100%;
    object-fit: cover;
}

/* Product */
.home .product_type {
    padding: 20px 30px;
    width: 100%;
}

.product_type .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.product_type .container .box {
    width: 360px;
    height: 595px;
    border: 3px solid #f6f7f8;
    padding: 10px;
    overflow: hidden;
}

.product_type .container .box .header {
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    padding: 10px;

}

.product_type .container .box .header h2 {
    color: #232323;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.product_type .container .box .product-box {
    width: 100%;
    height: 130px;
    padding: 10px;
    border: 1px solid #f6f7f8;
    display: flex;
}

.product_type .container .box .product-box .img-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product_type .container .box .product-box .detail {
    margin-left: 30px;
}

.product_type .container .box .product-box .detail h3 {
    font-size: 14px;
    color: #8a8a8a;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product_type .container .box .product-box .detail p {
    margin-top: 5px;
    color: #cd1e76;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
}

.product_type .container .box .product-box .detail .icon {
    margin-top: 10px;
    display: flex;
}

.product_type .container .box .product-box .detail .icon button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding: 8px 13px;
    border: 2px solid #f6f7f8;
    margin-left: 10px;
    border-radius: 50%;
    color: #8a8a8a;
    transition: 0.3s ease-in-out;
}

.product_type .container .box .product-box .detail .icon button:hover {
    background: #f6f6f6;
    color: #232323;
}


.product-detail {
    width: 900px;
    height: 600px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    background: #fff;
    border: 2px solid #f6f6f6;
    border-radius: 8px;
    padding: 20px 30px;
    position: fixed;
    top: 170px;
    left: 320px;
    z-index: 100;
}

.product-detail .close-btn {
    cursor: pointer;
    float: right;
    outline: none;
    border: none;
    background: none;
    color: #cd1e76;
    font-size: 24px;
}

.product-detail .container {
    width: 100%;
    display: flex;
    margin-top: 130px;
    padding-inline: 30px;
    border: 3px solid #f6f6f6;
}

.product-detail .container .img-box {
    padding: 20px;
    background: #f6f6f6;
    border-radius: 10px;
}

.product-detail .container .img-box img {
    width: 270px;
    height: 270px;
}

.product-detail .container .info {
    margin-top: 20px;
    margin-left: 40px;
}

.product-detail .container .info h4 {
    color: #8a8a8a;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.product-detail .container .info h2 {
    margin-top: 50px;
    color: #232323;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}

.product-detail .container .info p {
    margin-top: 10px;
    color: #8a8a8a;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
}

.product-detail .container .info h3 {
    margin-top: 10px;
    font-size: 24px;
    color: #cd1e76;
}

.product-detail .container .info button {
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 30px;
    outline: none;
    border: none;
    background: none;
    background: #cd1e76;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.product-detail .container .info button:hover {
    background: #232323;
} 


/* Media Queries */
@media (max-width: 576px) {
    .banners {
        display: none;
    }

    .home .top_banner {
        background-position: center center;
    }

    .trending .container .leftb {
        width: 100%;
    }

    .leftb .header {
        flex-direction: column;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .leftb .header .cate {
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }

    .leftb .products {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .leftb .products button {
        margin-left: 0;
    }

    .leftb .products .container .box {
        width: 200px;
        height: 300px;
        margin-left: 30px;
    }

    .leftb .products .container .box .img-box img {
        width: 160px;
        height: 160px;
        margin-left: 15px;
    }

    .leftb .products .container .box .img-box {
        position: relative;
    }

    .leftb .products .container .box .img-box .icon {
        position: absolute;
        top: 0;
        right: 10px;
    }

    .trending .container {
        flex-direction: column;
        justify-content: space-between;
    }


    .rb {
        width: 100%;
    }

    .rb .container .testimonial .detail .img-box img {
        margin-left: 10px;
    }

    .product-detail {
        width: 360px;
        height: 540px;
        position: fixed;
        top: 25%;
        left: 28px;
        z-index: 1000;
    }

    .product-detail .container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product-detail .container .img-box img {
        width: 150px;
        height: 150px;
    }

    .product-detail .info p {
        display: none;
    }
}