* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.error {
    width: 100%;
}

.error_con {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error_con .img-box {
    width: 100%;
}

.error_con .img-box img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}